.navbar{
	background: red;
}
.nav-link{
	color:white;
}
.container{
	margin-top: 80px;
}

.destaque{
	border-color: #6C757D;
	border-style: solid;
	padding: 20px;
	border-width: 1px;
	margin-bottom: 40px;
}

.row{
	margin-bottom: 10px;
}

.noticia{
	border-bottom-style: solid;
	border-bottom-color: #6C757D;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}

.noticia,h3{
	padding-right: 10px;
	padding-left: 10px;
	color: red;
	text-align: left;
}

.col-md-4{
	padding-right: 10px;
}

a{
	color: #6C757D;

}

.col-md-4 > #maislida{
	text-align: center;
	background-color: red;
	text-align: center;
	color: white;

}

footer{
	background: red;
	color: white;
}

.fonte-branca{
	color: white;
}

.carousel-caption{
	background: rgba( 0, 0, 0, 0.6 );
}

h5, h3{
	font-weight: bold;
}